section{
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 80vh;
}
form{
    font-family: Arial, Helvetica, sans-serif;
}
form div{
    display: flex;
    flex-direction: column ;
    margin-bottom: 30px ;
}
form input, button{
    outline: unset;
    padding: 20px;
    min-width: 300px;
    border: 1px solid black ;
    border-radius: 20px;
}
form input:focus{
    background-color: wheat;
}
form button[type=submit]{
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
form label{
    margin-left: 10px;
}