* {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {

    height: auto;
    width: 100%;
}

main {
    width: 100%;
    height: 60%;
    background-color: #0D2935;
}

footer {
    height: 20%;
    width: 100%;
    text-align: center;
    color: white;
}

.botao {
    padding: 10px;
    border: 3px solid #04A2AC;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 0.3em;
}

.botao:hover {
    background-color: #04A2AC;

}

.deletar,
.editar,
.detalhar {
    padding: 0.5px;

}