<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}

    <h1> lista de livros...</h1>
    
    {% for book in books %}
    
    <a href="#">
    
    <h2>{{ book['title'] }}</h2>
    
    </a>
    
    <span class="badge bg-primary">{{ book['synopsis'] }}</span>
    
    <hr>
    
    {% endfor %}
    
    {% endblock %}
  
    <a href="/cadastro">cadastrar livro</a>
  </body>
</html>
